<nb-card>
  <nb-card-header class="row ">

  </nb-card-header>
  <nb-card-body class="col-md-12">

      <div class="row test">

        <div class=" col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="circle " align="center">
            <a href="/#/pages/case-extraction" (click)="setCancer()"><img width="40%" src="../../../assets/images/1.png"/>
              <h2>Maladie de la thyroid</h2></a>
          </div>
        </div>
        <div class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="circle center">
            <a href="/#/pages/case-extraction" (click)="setCancer1()"><img width="40%" src="../../../assets/images/2.png"/>
              <h2>Maladie du cancer de sein
              </h2>
            </a>
          </div>
        </div>
      </div>
  </nb-card-body>
</nb-card>


