<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Test comparatif de performance des systèmes</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Evaluation de la performance du système avec et sans validation</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar2></ngx-echarts-bar2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Taux de résolution de problèmes</nb-card-header>
      <nb-card-body>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Evaluation du temps d'exécution par rapport au nombre de problèmes</nb-card-header>
      <nb-card-body>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Taux de cas générés selon la taille de l'échantillon</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>La précision du système proposé comparé a d'autres système</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
