<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Résolution</nb-card-header>
      <div class="row">
      <div class="col-md-3"></div>
      <nb-card-body class="col-md-6">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nom attribut 1 </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom attribut 1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nom attribut 2</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nom attribut 2">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nom attribut 3 </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom attribut 1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nom attribut 4</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nom attribut 2">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nom attribut 5</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nom attribut 2">
          </div>
          <div class="row ">
            <button type="button" class="btn btn-success  space">Résoudre</button>
            <button type="button" class="btn btn-success pull-right">Fournir une solution</button>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Classe</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nom classe">
          </div>
          <div class="form-group">
            <label>Classe</label>
            <select class="form-control">
              <option>Minsk</option>
              <option>Gomel</option>
              <option>Brest</option>
              <option>Grodno</option>
              <option>Mogilev</option>
            </select>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Sauvgarder</button>
            </div>
          </div>
        </form>
      </nb-card-body>
      </div>
    </nb-card>
  </div>
</div>
